.ticket-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  position: relative;
  padding: 30px;
  color: black;
  font-family: 'Inter', Helvetica;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 800px;
}

.modal-content {
  text-align: left;
}

.approve-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.approve-button:hover {
  background-color: darkgreen;
}

.disapprove-button {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.disapprove-button:hover {
  background-color: #c82333;
}

.exit-button {
  position: absolute;
  background-color: darkgray;
  color: white;
  top: 12px;
  right: 12px;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.exit-button:hover {
  background-color: grey;
}

.details p {
  margin: 20px 0;
}

.buttons {
  margin-top: 20px;
}